.footer {
    background: #8c1927 url(../images/bg-footer.png);
    padding: 30px 0 15px;
    color: $light;
    .slogan {
        font-size: 20px;
        margin-bottom: 15px;
        font-family: "myFont";
        font-weight: 700;
    }
    .copyright {
        padding-top: 15px;
        margin-top: 30px;
        border-top: 1px solid #a11c21;
        font-size: 14px;
    }
    .form-email {
        position: relative;
        max-width: 85%;
        margin-left: auto;
    }
    .label-form {
        margin-bottom: 15px;
        text-transform: uppercase;
        font-weight: 500;
    }
}

.logo-footer {
    width: 100px;
    height: 114px;
    background: url(../images/logo/logo-w.png) no-repeat;
    background-size: cover;
    margin: 0 auto 30px;
}