@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1400px;
    }
}

@media (min-width:1920px) {
    .block-banner {
        .container-banner {
            padding-left: 120px;
            padding-right: 120px;
        }
    }
}

@media (min-width:768px) {

    /* --- Menu --- */
    .primary-nav {
        .main-menu {
            flex-direction: row;

            &-left {
                margin-right: auto;
            }

            &-right {
                margin-left: auto;
            }
        }
    }

    /* --- End Menu --- */
}

@media (max-width:575px) {

    /* --- Menu --- */
    .toggle-menu {
        display: block;
    }

    /* --- End Menu --- */
}