.btn-signin {
    border: 1px solid $brand;
    color: $brand;
    font-weight: 600;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    font-family: "Barlow Condensed", sans-serif;
    line-height: 1.3;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $light;
        border-radius: 15px;
        z-index: -2;
    }

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: $brand;
        transition: all .3s;
        border-radius: 15px;
        z-index: -1;
    }

    &:hover {
        color: #fff;

        &:before {
            width: 100%;
        }
    }
}

.btn-mail {
    position: absolute;
    right: 0;
    bottom: 0;
    border: 0;
    height: calc(1.5em + .75rem + 2px);
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    background: $brand;
    color: $light;
    font-weight: 600;
    width: 100px;
    font-family: "Barlow Condensed", sans-serif;
}

.btn-order {
    border: 0;
    color: $light;
    background: $brand;
    font-size: 18px;
    padding: 5px 20px 8px;
    border-radius: 20px;
    font-weight: 600;
    font-family: "Barlow Condensed", sans-serif;

    &:hover {
        background: #8f1318;
    }
}

.btn-register {
    border: 1px solid #c22026;
    padding: 11px 32px;
    font-size: 22px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    border-radius: 30px;
    line-height: 1.3;
    color: $light;
    background: $brand;
    display: inline-block;

    &:hover {
        background: #8f1318;
        color: $light;
    }
}

.btn-sendform {
    padding: 6px 35px;
    background: $brand;
    color: $light;
    font-weight: 600;
    font-family: "Barlow Condensed", sans-serif;
    border: 1px solid $brand;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 18px;
    width: 100%;

    &:hover {
        background: #8f1318;
        border-color: #8f1318;
    }
}

.scroll-to-top {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 2px solid $brand;
    background: $light;
    color: $brand;
    font-size: 20px;
    z-index: 2;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background: $brand;
        color: $light;
    }

    &.fixed {
        position: fixed;
        bottom: 20px;
        right: 20px;
    }
}