.h-sub-title {
    background: $gray;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 25px;
    display: inline-flex;
    align-items: center;
    gap: 5px;
    border-radius: 20px;
    margin-bottom: 20px;
    font-family: "Barlow Condensed", sans-serif;
    color: $dark;

    i {
        color: $brand;
    }
}

.heading {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    font-family: "Barlow Condensed", sans-serif;
    margin-bottom: 20px;

    &-center {
        text-align: center;
    }

    span {
        color: $brand;
    }
}

.sub-heading {
    font-size: 18px;
}

.main-page {
    margin-top: 90px;
}

.module-course {
    margin-top: 60px;

    .row {
        margin-left: -10px;
        margin-right: -10px;
    }

    .col-md-6 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .inner {
        border: 1px solid #9aa0a60d;
        box-shadow: 0 2px 16px 0 rgba(0, 41, 87, 0.1);
        padding: 20px 15px;
        border-radius: 10px;
        position: relative;
        margin-bottom: 20px;
        min-height: 85px;

        &.show {
            .title {
                margin-bottom: 10px;
            }

            .btn-action {
                .fa-angle-down {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .title {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 0;
        max-width: 95%;
        cursor: pointer;
    }

    .s-title {
        font-weight: 700;
        margin-bottom: 8px;
    }

    .target,
    .content {
        ul {
            padding-left: 18px;
            margin-bottom: 0;

            li {
                &::marker {
                    font-size: 14px;
                }

                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }
    }

    .target {
        margin-bottom: 15px;
    }

    .btn-action {
        width: 25px;
        height: 20px;
        margin-left: auto;
        position: absolute;
        top: 20px;
        right: 15px;
        text-align: center;
        cursor: pointer;
    }

    .wrap {
        display: none;
    }
}

.block-feedback {
    background: #222 url(../images/bg-footer.png);
    background-repeat: repeat-x;
    padding: 50px 0 40px;
    margin-top: 60px;

    .heading {
        color: $light;
    }

    .sub-heading {
        max-width: 80%;
        text-align: center;
        margin: 0 auto;
        color: $light;
        margin-bottom: 40px;
    }

    .inner {
        background: $light;
        border-radius: 8px;
        padding: 20px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 30px;

        i {
            color: $brand;
            font-size: 22px;
        }
    }
}

.block-gallery {
    margin-top: 60px;

    .item {
        max-height: 250px;
        overflow: hidden;
        margin: 5px 5px;
        position: relative;
        cursor: pointer;

        &:hover {

            &::before {
                opacity: 1;
            }

            &::after {
                opacity: 0.2;
            }
        }

        &::after {
            content: "";
            background: #c3132a;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0;
            transition: all .3s;
        }

        &::before {
            content: "";
            width: 40px;
            height: 40px;
            background: url(../images/icons/zoom.png) no-repeat;
            background-size: 100% 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: all .3s;
            z-index: 1;
        }
    }
}

.block-partner {
    margin-top: 60px;
    margin-bottom: 60px;

    .row {
        margin-left: -7.5px;
        margin-right: -7.5px;
    }

    .col-md-2 {
        padding-left: 7.5px;
        padding-right: 7.5px;
    }

    .item {
        padding: 10px;
        box-shadow: 0 2px 16px 0 rgba(0, 41, 87, 0.1);
        border-radius: 8px;
    }
}

.meta-people {
    display: flex;

    .avatar {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        margin-right: 10px;
    }

    .name {
        font-weight: 700;
    }

    .job-title {
        font-size: 14px;
    }
}

.block-faq {
    padding-top: 70px;
    padding-bottom: 70px;
    background: #f8f9fa;

    .item-faq {
        padding: 20px;
        position: relative;
        background: $light;
        border-radius: 35px;

        &.active {
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);

            .extend {
                &::after {
                    content: "\f106";
                }
            }

            .faq-name {
                margin-bottom: 15px;
            }
        }

        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    .faq-name {
        font-size: 20px;
        font-weight: 600;
        font-family: "Barlow Condensed", sans-serif;
    }

    .extend {
        position: absolute;
        right: 20px;
        top: 20px;

        &::after {
            content: "\f107";
            font-family: Font Awesome\ 5 Pro;
            font-size: 20px;
            cursor: pointer;
        }
    }

    .faq-content {
        display: none;
    }
}

.block-expert {
    margin-top: 50px;
    padding-top: 60px;
    background: url(../images/bg-expert.png) no-repeat;
    background-size: cover;
    color: $light;

    .heading {
        color: #ffd97c;
    }

    .expert-title {
        font-size: 28px;
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 15px;
    }

    .meta {
        &-default {
            margin-bottom: 0;

            li {
                i {
                    font-size: 15px;
                    margin-right: 5px;
                }

                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }

        &-position {
            list-style: none;
            padding-left: 0;
            font-weight: 700;
            margin-bottom: 15px;
        }

        &-experience {
            padding-left: 18px;
        }
    }

    .list-image-experts {
        .item {
            position: relative;

            img {
                margin: 0 auto;
            }
        }
    }
}

.block-form {
    margin: 70px 0;

    .heading {
        margin-bottom: 30px;
    }

    .wrap-left {
        background: $dark;
        height: 100%;
        padding: 50px 50px 50px 70px;
        color: $light;
        border-bottom-right-radius: 60px;

        .logo {
            width: 100px;
            height: 114px;
            margin-bottom: 25px;
        }

        a {
            color: $light;
        }
    }

    .slogan {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .sub-slogan {
        margin-bottom: 15px;
    }

    .info {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;
    }

    .item {
        &:not(:last-child) {
            margin-bottom: 10px;
        }

        i {
            width: 20px;
            margin-right: 5px;
        }

        span {
            font-weight: 700;
        }
    }

    select.form-control,
    input.form-control {
        height: 42px;
    }

    .form-order {
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
        padding: 40px 20px;
    }
}

.title-form {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-family: "Barlow Condensed", sans-serif;

    span {
        color: $brand;
    }
}

label {
    font-weight: 600;
    font-size: 14px;

    span {
        color: #db0000;
        font-weight: 400;
    }
}

::placeholder {
    font-size: 15px;
}

.note {
    font-size: 14px;
    font-style: italic;
}

.block-why-choose {
    margin-top: 60px;

    .heading {
        margin-bottom: 40px;
    }

    .list-content {
        list-style: none;
        padding-left: 0;
        margin-bottom: 0;

        .item {
            position: relative;
            display: flex;
            align-items: center;

            &:not(:last-child) {
                margin-bottom: 25px;
            }
        }

        .icon {
            width: 35px;
            height: 35px;
            flex-shrink: 0;
            margin-right: 15px;
        }
    }

    .title {
        font-size: 22px;
        font-weight: 600;
        font-family: Barlow Condensed, sans-serif;
    }

    .item {

        .text {
            margin-bottom: 0;
        }
    }
}

.block-banner {
    height: 100vh;
    background: url(../images/slide.jpg) no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    color: $light;

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background: hsla(0, 0%, 0%, 0.7);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &-heading {
        font-size: 70px;
        font-weight: 900;
        text-transform: uppercase;
        line-height: 1.3;
        font-family: "Barlow Condensed", sans-serif;
        margin-bottom: 20px;
    }

    &-sheading {
        font-size: 24px;
        margin-bottom: 25px;
        font-weight: 600;
    }

    .course-card {
        display: flex;
        gap: 30px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .item {
        display: flex;
        background: $brand;
    }

    .location {
        padding: 10px 25px;
        background: #a50f15;
    }

    .time {
        padding: 10px 25px;
    }

    .hotline {
        background: $light;
        color: $brand;
        padding: 11px 32px;
        font-family: "Barlow Condensed", sans-serif;
        font-weight: 600;
        font-size: 22px;
        border-radius: 30px;
        display: inline-block;
        line-height: 1.3;
        margin-left: 15px;
    }
}

.block-about {
    margin-top: 60px;

    .core-title {
        font-weight: 700;
        font-family: Barlow Condensed, sans-serif;
        text-transform: uppercase;
        font-size: 28px;
        color: $dark;
    }

    .core-item {
        align-items: center;
        padding: 20px 0;

        .text-content {
            background: $light;
            box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
            padding: 30px 50px;
            border-radius: 8px;
            position: relative;
            z-index: 2;
        }

        .order-md-1.order-2 {
            .text-content {
                margin-right: -70px;
            }
        }

        .order-md-2.order-2 {
            .text-content {
                margin-left: -70px;
            }
        }

        .inner {
            p {
                margin-bottom: 0;
            }
        }
    }
}

.block-course {
    margin-top: 60px;
    margin-bottom: 120px;

    &-left {
        .course {
            .thumbnail {
                border-radius: 10px;
                margin-bottom: 15px;
            }

            &-title {
                font-size: 24px;
                font-weight: 600;
                font-family: Barlow Condensed, sans-serif;
                margin-bottom: 0;
            }

            &-meta {
                .meta {
                    list-style: none;
                    margin-bottom: 0;
                    padding-left: 0;
                    display: flex;
                    justify-content: space-between;
                }

                .item {
                    position: relative;
                    padding-left: 25px;

                    &::before {
                        font-family: Font Awesome\ 5 Pro;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }

                    &:nth-child(1) {
                        &::before {
                            content: "\f5ff";
                            color: #6400ff;
                        }
                    }

                    &:nth-child(2) {
                        &::before {
                            content: "\f573";
                            color: #ff0000;
                        }
                    }

                    &:nth-child(3) {
                        &::before {
                            content: "\f017";
                            color: #fb6f30;
                        }
                    }
                }

                .text {
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }
    }

    .price-review {
        margin-top: 15px;
        margin-bottom: 15px;
        padding-bottom: 15px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $border;
    }

    .review {
        display: flex;
        align-items: center;

        &-star {
            list-style: none;
            padding-left: 0;
            margin-bottom: 0;
            margin-right: 15px;

            li {
                display: inline-block;
                color: #fb6f30;
            }
        }

        .number {
            font-size: 14px;
            font-weight: 500;
            color: #80868b;
        }
    }

    .price {
        font-size: 22px;
        font-weight: 600;
        color: #d0021c;
        font-family: Barlow Condensed, sans-serif;
    }

    .heading {
        margin-bottom: 30px;
    }

    .course-info {
        i {
            color: $brand;
            width: 20px;
            margin-right: 5px;
            text-align: center;
        }

        span {
            font-size: 17px;
            font-weight: 600;
            font-family: "Barlow Condensed", sans-serif;
        }

        p {
            margin-bottom: 0px;
            padding: 8px 0;
        }

        .content {
            p {
                background: transparent;
            }
        }
    }

    &-right {
        .title {
            font-size: 22px;
            font-weight: 700;
            font-family: "Barlow Condensed", sans-serif;
            text-transform: uppercase;
            margin-bottom: 15px;
        }
    }

    .tuition {
        &-title {
            margin-bottom: 10px;
        }
    }

    .content-title {
        font-weight: 600;
        font-family: "Barlow Condensed", sans-serif;
        font-size: 17px;
        margin-bottom: 10px;
        position: relative;

        &::after {
            content: "";
            width: 82px;
            height: 1px;
            background: $brand;
            position: absolute;
            left: 0;
            bottom: -3px;
        }
    }

    .content {
        p {
            padding: 0;
            margin-bottom: 10px;
        }
    }

    .slick-dots {
        bottom: -45px;
    }
}

.block-schedule {
    background: #faf6f1;
    padding: 50px 0;

    &-container {
        background: $light;
    }

    &-table {
        width: 100%;
    }

    .schedule-head {
        background: #9aa0a60d;
        border: 1px solid $border;
        border-radius: 8px;

        th {
            padding: 10px 12px;
            font-weight: normal;
            color: #80868b;

            &:not(:last-child) {
                border-right: 1px solid $border;
            }

            &:not(:first-child) {
                text-align: center;
            }

            i {
                margin-right: 4px;
            }
        }
    }

    .schedule-body {
        td {
            padding: 8px 12px;
        }

        .item {
            &:nth-child(2n) {
                background: #9aa0a60d;
                border-radius: 5px;
            }
        }

        td {
            &:not(:first-child) {
                text-align: center;
            }
        }
    }

    .btn-signin {
        padding: 6px 25px;
        font-size: 16px;
        border-radius: 20px;
    }

    &-mb {
        display: none;
    }
}

.block-costs {
    margin-top: 60px;

    .inner {
        background: #f7f7f7;

        &-header {
            background: $brand;
            color: $light;
            padding: 15px;
        }
    }

    .title {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        margin-bottom: 5px;
        color: #ffd97c;
    }

    .s-title {
        text-transform: uppercase;
        text-align: center;
    }

    .meta {
        padding: 15px 15px 20px;
        position: relative;
    }

    .costs-title {
        text-transform: uppercase;
        font-weight: 700;
        margin-bottom: 15px;
    }

    .costs-sale {
        text-align: center;
        color: $light;
        background: #db0000;
        font-weight: 500;
        display: inline-block;
        border: 1px solid $brand;
        border-radius: 18px;
        padding: 5px 10px;
        line-height: 1.2;
        position: absolute;
        top: -40px;
        right: 10px;

        i {
            transform: rotate(-45deg);
        }
    }

    .costs-price {
        font-weight: 700;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 1.3;
    }

    .costs-note {
        text-align: center;
        font-size: 15px;
        font-style: italic;
        color: #db0000;
        margin-bottom: 15px;
    }

    .btn-signin {
        padding: 6px 24px;
        border-radius: 3px;
        text-transform: uppercase;
        font-size: 18px;

        &::before,
        &::after {
            border-radius: 3px;
        }
    }
}

.cta-container {
    .cta-item {
        width: 50px;
        height: 50px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        color: $light;
        cursor: pointer;
        font-size: 20px;
        position: relative;
        z-index: 6;

        a {
            color: $light;
        }

        &-contact {
            background: #db0000;
            position: fixed;
            left: 15px;
            bottom: 30px;

            &::before {
                content: "\f4b0";
                font-family: Font Awesome\ 5 Pro;
            }

            &.closes {
                &::before {
                    content: "\f00d";
                }
            }
        }

        &-phone {
            background: #fc8800;
        }

        &-zalo {
            background: #0068ff;
        }

        &-mess {
            background: linear-gradient(220.97deg, #ff666d 8.67%, #9539fe 52.12%, #0191ff 87.37%);
        }
    }

    .text {
        position: absolute;
        left: calc(100% + 10px);
        width: 70px;
        font-size: 14px;
    }

    .list-cta {
        display: inline-flex;
        flex-direction: column;
        position: fixed;
        left: 15px;
        bottom: 130px;
        z-index: 6;
        transition: all 0.3s;
        opacity: 0;
        visibility: hidden;

        &.show {
            bottom: 90px;
            opacity: 1;
            visibility: visible;
        }

        .cta-item {
            margin-bottom: 10px;
        }
    }
}